<!-- read-mail.component.html -->
<div class="content">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Leer Mensaje</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active">Leer Mensaje</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <a href="/mailbox" class="btn btn-primary btn-block mb-3">Volver a la Bandeja de Entrada</a>
  
            <!-- ... Resto del código de la barra lateral izquierda ... -->
          </div>
          <!-- /.col -->
  
          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Mensaje Recibido</h3>
              </div>
              <!-- /.card-header -->
  
              <div class="card-body p-0">
                <div class="mailbox-read-info">
                    <h5>Message Subject Is Placed Here</h5>
                    <h6>From: Yachay Tech
                      <span class="mailbox-read-time float-right">15 Feb. 2015 11:03 PM</span></h6>
                  </div>
                <!-- /.mailbox-read-info -->
  
                <div class="mailbox-read-message">
                </div>
                <!-- /.mailbox-read-message -->
              </div>
              <!-- /.card-body -->
  
              <div class="mailbox-read-attachments">
                <h5>Archivos Adjuntos:</h5>
                <!-- Mostrar el archivo "FormatoV1" si existe -->
                <div *ngIf="role == 3">
                    <span class="mailbox-attachment-icon"><i class="far fa-file"></i></span>
                    <div class="mailbox-attachment-info">
                      <a [href]="formatoV1URL" download="FormatoV1.docx">
                        <i class="fas fa-paperclip"></i> FormatoV1
                      </a>
                    </div>
                  </div>

                  <div *ngIf="role == 2">
                    <span class="mailbox-attachment-icon"><i class="far fa-file"></i></span>
                    <div class="mailbox-attachment-info">
                      <a [href]="formatoV1URL" download="FormatoV1.docx">
                        <i class="fas fa-paperclip"></i> FormatoV2
                      </a>
                    </div>
                  </div>
              </div>
              <!-- /.card-footer -->
  
              <div class="card-footer">
                <div class="float-right" *ngIf="role == 3">
                  <button type="button" class="btn btn-success" (click)="aceptarProyecto()">Aceptar</button>
                  <button type="button" class="btn btn-danger" (click)="rechazarProyecto()">Rechazar</button>
                </div>

                <div class="float-right" *ngIf="role == 2">
                  <button type="button" class="btn btn-success" (click)="aceptarSolicitud()">Aceptar Sol</button>
                  <button type="button" class="btn btn-danger" (click)="rechazarSolicitud()">Rechazar</button>
                </div>
                
                <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Responder</button>
                <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Reenviar</button>
                <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Eliminar</button>
                <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Imprimir</button>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  